* {
  box-sizing: border-box;
}

body {
  color: #333333;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #fff;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.wrapper > * {
  grid-column: col-start/span 12;
}

.header {
  grid-row: 1;
}

.section {
  grid-row: 2;
}

.footer {
  grid-row: 3;
  position: sticky;
  bottom: 0;
  display: flex;
}

.component-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}
.component-header__title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  padding: 1rem 0;
}
.component-header__item {
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  margin-left: 0.5rem;
}
.component-header__link {
  margin: 0;
  padding: 1rem 0.5rem;
  font-size: 0.875rem;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  overflow-wrap: break-word;
}
.component-header__link:link {
  color: inherit;
}
.component-header__link:visited {
  color: inherit;
}
.component-header__link:hover {
  color: inherit;
}
.component-header__link:active {
  color: inherit;
}
.component-header .material-icons-round {
  font-size: 1.4rem;
}
.component-header__nav {
  display: none;
}

.component-nav {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  backdrop-filter: blur(25px);
  display: flex;
  flex: 1 1 auto;
  margin: 0;
  padding: 0;
}

.component-menu {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  list-style: none;
  margin: 0;
  padding: 0;
}
.component-menu__module {
  display: flex;
  flex: 0 1 6rem;
}
.component-menu__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  height: auto;
  padding: 1rem;
  text-decoration: none;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 -1px 3px rgba(0, 0, 0, 0.1);
}
.component-menu__link:link {
  color: inherit;
}
.component-menu__link:visited {
  color: inherit;
}
.component-menu__link:hover {
  color: inherit;
}
.component-menu__link:active {
  color: inherit;
}
.component-menu__item {
  letter-spacing: 0.06rem;
}
.component-menu__item--active {
  color: #7209b7;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
.component-menu__item:nth-child(2) {
  display: none;
}
.component-menu .material-icons-round {
  font-size: 1.4rem;
}

.component_welcome {
  display: flex;
  height: 15rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  background: paint(extra-confetti);
  animation: confetti 1s linear;
}
.component_welcome img {
  height: auto;
  max-width: 100%;
  object-fit: contain;
  object-position: bottom;
  scroll-snap-align: center;
  padding: 1rem;
}

@keyframes confetti {
  from {
    --extra-confettiNumber: 380;
    --extra-confettiLengthVariance: 200;
    --extra-confettiWeightVariance: 50;
  }
}
.component-posts {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
}
.component-posts__item {
  display: flex;
  flex: 1 0 auto;
}

.component-post {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
  padding: 0.5rem;
  margin: 0.2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 -1px 3px rgba(0, 0, 0, 0.1);
  background-color: #fefefe;
  border-radius: 0.2rem;
}
.component-post__content {
  display: flex;
  position: relative;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: baseline;
  overflow-wrap: break-word;
  padding-left: 0.5rem;
}
.component-post__module {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}
.component-post__module:nth-child(4) {
  background-color: #4895ef;
  color: #fdfdfd;
  border-radius: 0.2rem;
  font-size: 0.875rem;
  letter-spacing: 0.09rem;
  padding: 0 1rem;
  text-transform: capitalize;
  align-self: flex-start;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 -1px 3px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to right, #4895ef 0, #4cc9f0 100%);
  transition: 0.5;
}
.component-post__module:nth-child(4):hover {
  background-position: right center;
  background-color: red;
}
.component-post__module:nth-child(5) span {
  letter-spacing: 0.09rem;
}
.component-post__item {
  font-size: 0.875rem;
  letter-spacing: 0.1rem;
}
.component-post .material-icons-round {
  font-size: 1rem;
}

.component-img {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component-img__item {
  height: auto;
  flex: 1 1 auto;
  vertical-align: middle;
  object-fit: cover;
  object-position: center;
}

.component-favorite {
  position: absolute;
  bottom: 0;
  right: 0;
}

.material-icons-round.component-favorite {
  font-size: 1.5rem;
  color: #dfdfdf;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 -1px 3px rgba(0, 0, 0, 0.1);
}

.material-icons-round.component-favorite--active {
  font-size: 1.5rem;
  color: #f72585;
}

.component-close {
  position: absolute;
  top: 0;
  right: 0;
}

.material-icons-round.component-close {
  font-size: 1.5rem;
  color: red;
}

.component-details {
  flex-direction: column;
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}

.component-details__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  overflow-wrap: break-word;
  padding: 0.5rem;
}

.component-details__module {
  display: flex;
  flex: 0 1 10rem;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  background-color: #f0f0f0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 -1px 3px rgba(0, 0, 0, 0.1);
}

.component-details__item {
  display: inline-flex;
  align-items: center;
  font-size: 0.875rem;
  letter-spacing: 0.09rem;
}

/* rating */
.component-details__module:last-child span {
  display: inline-flex;
  align-items: center;
  font-size: 0.875rem;
  letter-spacing: 0.09rem;
}

.component-details-img {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  overflow-x: scroll;
  padding-top: 0.5rem;
  scroll-snap-type: x mandatory;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.component-details-img__item {
  height: auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  flex: 0 1 max(25rem);
  max-width: 100%;
  vertical-align: middle;
  object-fit: cover;
  object-position: center;
  filter: drop-shadow(0px 0px 1rem var(--background-opacity-01)) drop-shadow(0px 0px 1rem var(--background-opacity-05));
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.component-ubicacion {
  display: flex;
  padding: 1rem;
  margin: 0.5rem;
  flex-direction: column;
}

.component-ubicacion__item {
  display: flex;
  flex: 0 1 10rem;
  border-radius: 0.2rem;
  height: 10rem;
  background-color: #f0f0f0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 -1px 3px rgba(0, 0, 0, 0.1);
}

.container-search {
  display: flex;
  position: relative;
  justify-content: center;
}

.component-search {
  display: flex;
  flex: 0 1 max(45rem);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 -1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  margin: 0.5rem;
  align-self: center;
}
.component-search__item {
  display: flex;
  flex: 1 1 auto;
}
.component-search__button {
  display: flex;
  margin: 0;
  padding: 0.5rem;
  border: none;
  backdrop-filter: blur(25px);
  background-color: var(--background-opacity-09);
}
.component-search__input {
  backdrop-filter: blur(25px);
  background-color: var(--background-opacity-09);
  flex: 1 1 auto;
  letter-spacing: 0.1rem;
  border: none;
  color: var(--font-color);
  outline: none;
}
.component-search__input::-webkit-search-cancel-button {
  opacity: 0.6;
  filter: saturate(300%);
  font-size: 1.3rem;
}
.component-search__input::placeholder {
  font-size: 0.875rem;
}

.component-filter {
  display: flex;
  position: relative;
}
.component-filter__button {
  border: none;
  display: flex;
  margin: 0;
  padding: 0.5rem;
}
.component-filter input[type=checkbox] {
  display: none;
}
.component-filter nav {
  position: absolute;
  margin-top: 2.5rem;
  right: 0;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(40px);
  border-radius: 0.2rem;
  display: none;
  z-index: 5;
}
.component-filter nav ul {
  list-style: none;
  margin: 0;
  padding: 1rem 3rem 1rem 0.5rem;
}
.component-filter nav ul li {
  margin: 0.5rem;
}
.component-filter input[type=checkbox]:checked ~ nav {
  display: block;
}
.component-filter input[type=checkbox]:checked + label {
  background-color: #f7f7f7;
  color: #7209b7;
  backdrop-filter: blur(25px);
}

.home {
  grid-row: 2;
}

.sing_in {
  grid-row: 2;
  padding: 0 1rem;
  justify-content: center;
  align-items: center;
  display: grid;
}

button {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: #444;
  cursor: pointer;
  display: block;
  font-size: 22px;
  /* fallback */
  font-size: var(--mobile-font-size);
  font-weight: 500;
  margin: 3px 0 0 0;
  padding: 10px;
}

button:hover {
  background-color: #ccc;
  color: black;
}

button#signin {
  margin: 0px 0 0 0;
}

button#toggle-password {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 300;
  padding: 0;
  /* Display at the top right of the password section */
  position: absolute;
  top: -4px;
  right: -2px;
}

div#password-constraints {
  margin: 5px 0 0 0;
  font-size: 16px;
}

.component_form_singin {
  margin: 0 auto;
  max-width: 500px;
}

h1 {
  border-bottom: 1px solid #ccc;
  font-size: 28px;
  font-weight: 600;
  margin: 0 0 20px 0;
  padding: 0 0 5px 0;
}

.component_form_singin input {
  border: 1px solid #ccc;
  font-size: 22px;
  /* fallback */
  font-size: var(--mobile-font-size);
  padding: 15px;
  width: 90%;
  /* fallback */
  width: calc(100% - 30px);
  /* full width minus padding */
}

input[type=email]:not(:focus):invalid,
input[type=password]:not(:focus):invalid {
  color: red;
  outline-color: red;
}

label {
  display: block;
  font-size: 20px;
  font-size: var(--mobile-font-size);
  font-weight: 500;
  margin: 0 0 3px 0;
}

.component_form_singin section {
  margin: 0 0 20px 0;
  position: relative;
  /* for password toggle positioning */
}

.tabs {
  display: flex;
  padding: 0.5rem;
  border-radius: 0.2rem;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  min-width: 15rem;
  background-color: #f0f0f0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 -1px 3px rgba(0, 0, 0, 0.1);
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 0.2rem;
  cursor: pointer;
}

.tab .text {
  font-size: 14px;
}

.tabs input:checked + label {
  background-color: #480ca8;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 -1px 3px rgba(0, 0, 0, 0.1);
}

.tabs input[type=radio] {
  display: none;
}

.details-post {
  grid-row: 2;
}

.component-button {
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  margin: 1rem;
}

.component-button__item {
  padding: 1rem 2rem;
  margin: 0;
  color: aliceblue;
  background-color: #480ca8;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 -1px 3px rgba(0, 0, 0, 0.1);
}
.component-button__item:hover {
  background-color: #f72585;
  color: #fff;
}

#full-stars-example-two {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
  /* make hover effect work properly in IE */
  /* hide radio inputs */
  /* hide 'none' input from screenreaders */
  /* set icon padding and size */
  /* set default star color */
  /* if any input is checked, make its following siblings grey */
  /* make all stars orange on rating group hover */
  /* make hovered input's following siblings grey on hover */
}
#full-stars-example-two .rating-group {
  display: inline-flex;
}
#full-stars-example-two .rating__icon {
  pointer-events: none;
}
#full-stars-example-two .rating-group input.rating__input {
  position: absolute !important;
  left: -9999px !important;
}
#full-stars-example-two input.rating__input--none {
  display: none;
}
#full-stars-example-two .rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
}
#full-stars-example-two .rating__icon--star {
  color: orange;
}
#full-stars-example-two input.rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}
#full-stars-example-two input.rating-group:hover .rating__label .rating__icon--star {
  color: orange;
}
#full-stars-example-two input.rating__input:hover ~ .rating__label .rating__icon--star {
  color: #ddd;
}

.add_post {
  grid-row: 2;
  padding: 0 0.5rem;
  justify-content: center;
  align-items: flex-start;
  display: grid;
}

input[type=file] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

label[for=img] {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: #106ba0;
  display: inline-block;
  transition: all 0.5s;
  cursor: pointer;
  padding: 15px 40px !important;
  text-transform: uppercase;
  width: fit-content;
  text-align: center;
}

textarea {
  border: 1px solid #ccc;
  font-family: sans-serif;
  font-size: 22px;
  /* fallback */
  font-size: var(--small-mobile-font-size);
  height: 5.5em;
  line-height: 1.4em;
  padding: 12px;
  width: 90%;
  /* fallback */
  width: calc(100% - 30px);
  /* full width minus padding */
}

.component-header-profile {
  background-image: url(https://i.pinimg.com/originals/3c/5b/f8/3c5bf826c2b466e1c871c3fdb8a6f86e.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 7rem;
  display: flex;
  align-items: center;
  padding: 5rem 1rem 0rem 1rem;
}

.component-header__container {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
  height: auto;
  position: relative;
  top: 2.5rem;
}

.component-header__profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1 0 auto;
}

.component-header__user {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.component-header__img {
  border-radius: 50%;
  height: 75px;
  max-width: 100%;
  display: block;
  object-fit: contain;
  object-position: center;
  border: 2px solid var(--background-opacity-09);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 -1px 3px rgba(0, 0, 0, 0.1);
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.1), 0 -1px 3px rgba(0, 0, 0, 0.1));
}

.component-biography__name {
  padding: 0.5rem;
  text-transform: capitalize;
}

.component-edit-profile {
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-end;
}

.component-edit-profile__button {
  padding: 0.4rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 -1px 3px rgba(0, 0, 0, 0.1);
}

.component-biography__info {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.component-biography__item {
  margin: 0;
  padding: 0rem 1rem;
  text-align: left;
}

.component-biography__item--emphasis {
  padding: 0.3rem 1rem;
  text-align: left;
  color: #8899a6;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.component-biography__item--emphasis span {
  letter-spacing: 0.3rem;
  font-size: inherit;
}

.component-tabs {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 -1px 3px rgba(0, 0, 0, 0.1);
  z-index: 10;
  overflow-x: scroll;
}

.component-tabs__tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
  padding: 0.3rem;
  background-color: var(--background-opacity-01);
  backdrop-filter: var(--blur-50);
  border-bottom: 2px solid transparent;
}

.component-tabs__tab:hover {
  border-bottom: 2px solid rgba(102, 177, 241, 0.8);
  transition: all 0.5s ease;
}

.component-tabs__tab span:nth-child(1) {
  font-size: 1.5rem;
  color: #464646;
  font-weight: 300;
}

.component-tabs__tab span:nth-child(2) {
  display: none;
}

.rating-user {
  display: flex;
  justify-content: flex-end;
}

.rating-user .rating__icon--star {
  font-size: 1.5rem;
}

.active {
  border-left: 0.5rem solid greenyellow;
}

.error {
  border-left: 0.5rem solid red;
}

.component-notification {
  padding: 0.5rem;
}

.component-notification__container {
  overflow: hidden;
  min-height: 6rem;
  max-height: 8rem;
  border-radius: 0.2rem;
  padding: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 -1px 3px rgba(0, 0, 0, 0.1);
  position: relative;
}

.component-notification__header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  font-size: 12px;
  text-transform: uppercase;
}

.component-notification__header > .component-close {
  padding: 0.5rem;
}

.component-notification__time {
  text-transform: lowercase;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
}

.component-notification__message {
  line-height: 1.4;
}

.component-notification__title {
  font-weight: 600;
}

.component-chat__header {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  overflow: hidden;
  padding: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 -1px 3px rgba(0, 0, 0, 0.1);
  position: relative;
}

.component-chat__username {
  display: flex;
  font-size: 1.2rem;
  flex: 1 1 auto;
  padding: 0 0 0 1rem;
  border: none;
}

.component-chat__avatar {
  display: flex;
  margin: 0;
  padding: 0;
}

.component-chat__avatar img {
  flex: 0 1 max(4rem);
  border-radius: 50%;
  width: auto;
  height: 4rem;
}

.component-chat__header > .component-close {
  padding: 0.5rem;
}

.message {
  grid-row: 2;
  display: flex;
  flex-direction: column;
}

/*-------------------- Chat --------------------*/
.component-chat {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: hidden;
}

.component-chat__header {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  backdrop-filter: --blur-50;
  background: var(--background-opacity-09);
}

.component-chat__username {
  display: flex;
  font-weight: normal;
  font-size: 1.1rem;
  flex: 1 1 auto;
  padding-left: 1rem;
}

.component-chat__avatar {
  display: flex;
  margin: 0;
  padding: 0;
}

.component-chat__avatar img {
  flex: 0 1 max(4rem);
  border-radius: 50%;
  width: auto;
  height: 4rem;
}

.component-message {
  flex: 1 1 auto;
  overflow: scroll;
  position: relative;
  width: 100%;
}

.component-message__content {
  backdrop-filter: --blur-50;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.component-message__item {
  clear: both;
  float: left;
  padding: 0.5rem 1rem 0.5rem;
  border-radius: 0 0 0 1rem;
  backdrop-filter: --blur-50;
  background: #4cc9f0;
  margin: 1rem 1rem;
  font-size: 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 -1px 3px rgba(0, 0, 0, 0.1);
  position: relative;
}

.component-message__item:last-child {
  margin-bottom: 2rem;
}

.component-message__item--personal {
  float: right;
  text-align: right;
  background-color: #ffee00;
  border-radius: 0 0 1rem 0;
}

.component-message__box {
  flex: 0 1 3rem;
  background: var(--background-opacity-09);
  display: flex;
}

.component-message__input {
  flex: 1 1 auto;
  border: none;
  outline: none;
  resize: none;
  background: var(--background-opacity-01);
  font-size: 1rem;
  margin: 0;
  padding: 0.5rem;
}

.component-message__submit {
  border: none;
  background: #f72585;
  color: #fff;
  font-size: 0.875rem;
  text-transform: uppercase;
  line-height: 1;
  padding: 0.5rem 1rem;
  outline: none;
  transition: background 1s ease;
}

@media (min-width: 768px) {
  .component-header__nav {
    display: initial;
  }

  .footer {
    display: none;
  }

  .component-posts {
    display: grid;
    gap: 0.1rem;
    margin: 0.1rem;
    grid-template-columns: repeat(auto-fill, minmax(365px, 1fr));
    grid-auto-flow: dense;
  }

  .component-tabs__tab span:nth-child(2) {
    display: initial;
  }
}
@media (min-width: 1024px) {
  .component-post__item {
    font-size: 1rem;
  }
  .component-post .material-icons-round {
    font-size: 1.2rem;
  }

  .material-icons-round.component-favorite {
    font-size: 1.7rem;
  }
}
@media (min-width: 1281px) {
  .header {
    grid-column: col-start 3/span 8;
  }

  .section {
    grid-column: col-start 3/span 8;
  }

  .home {
    grid-column: col-start 3/span 8;
  }

  .details-post {
    grid-column: col-start 3/span 8;
  }

  .add_post {
    grid-column: col-start 3/span 8;
  }

  .message {
    grid-column: col-start 3/span 8;
  }

  .component-posts {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  }
}

/*# sourceMappingURL=main.css.map */
