.details-post {
  grid-row: 2;
}

.component-button {
  display: flex;

  padding: 1rem;
  justify-content: space-around;
  margin: 1rem;
}

.component-button__module {
}

.component-button__item {
  padding: 1rem 2rem;
  margin: 0;
  color: aliceblue;
  background-color: $color-05;
  color: $background-white;
  box-shadow: $box-shadow-card;

  &:hover {
    background-color: $color-01;
    color: $background-white;
  }
}

#full-stars-example-two {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
  .rating-group {
    display: inline-flex;
  }

  /* make hover effect work properly in IE */
  .rating__icon {
    pointer-events: none;
  }

  /* hide radio inputs */
  .rating-group input.rating__input {
    position: absolute !important;
    left: -9999px !important;
  }

  /* hide 'none' input from screenreaders */
  input.rating__input--none {
    display: none;
  }

  /* set icon padding and size */
  .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 2rem;
  }

  /* set default star color */
  .rating__icon--star {
    color: orange;
  }

  /* if any input is checked, make its following siblings grey */
  input.rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
  }

  /* make all stars orange on rating group hover */
  input.rating-group:hover .rating__label .rating__icon--star {
    color: orange;
  }

  /* make hovered input's following siblings grey on hover */
  input.rating__input:hover ~ .rating__label .rating__icon--star {
    color: #ddd;
  }
}
