.sing_in {
  grid-row: 2;
  padding: 0 1rem;
  justify-content: center;
  align-items: center;
  display: grid;
}

button {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: #444;
  cursor: pointer;
  display: block;
  font-size: 22px;
  /* fallback */
  font-size: var(--mobile-font-size);
  font-weight: 500;
  margin: 3px 0 0 0;
  padding: 10px;
}

button:hover {
  background-color: #ccc;
  color: black;
}

button#signin {
  margin: 0px 0 0 0;
}

button#toggle-password {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 300;
  padding: 0;
  /* Display at the top right of the password section */
  position: absolute;
  top: -4px;
  right: -2px;
}

div#password-constraints {
  margin: 5px 0 0 0;
  font-size: 16px;
}

.component_form_singin {
  margin: 0 auto;
  max-width: 500px;
}

h1 {
  border-bottom: 1px solid #ccc;
  font-size: 28px;
  font-weight: 600;
  margin: 0 0 20px 0;
  padding: 0 0 5px 0;
}

.component_form_singin input {
  border: 1px solid #ccc;
  font-size: 22px;
  /* fallback */
  font-size: var(--mobile-font-size);
  padding: 15px;
  width: 90%;
  /* fallback */
  width: calc(100% - 30px);
  /* full width minus padding */
}

input[type='email']:not(:focus):invalid,
input[type='password']:not(:focus):invalid {
  color: red;
  outline-color: red;
}

label {
  display: block;
  font-size: 20px;
  font-size: var(--mobile-font-size);
  font-weight: 500;
  margin: 0 0 3px 0;
}

.component_form_singin section {
  margin: 0 0 20px 0;
  position: relative;
  /* for password toggle positioning */
}

.tabs {
  display: flex;
  padding: 0.5rem;
  border-radius: 0.2rem;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  min-width: 15rem;
  background-color: #f0f0f0;
  box-shadow: $box-shadow-card;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 0.2rem;
  cursor: pointer;
  //background-image: linear-gradient(to right, $color-09 0, $color-10 100%);
}

.tab .text {
  font-size: 14px;
}

.tabs input:checked + label {
  background-color: $color-05;
  color: $background-white;
  box-shadow: $box-shadow-card;
}

.tabs input[type='radio'] {
  display: none;
}
