@import './variables';

@media (min-width: $breakpoint-tablet) {
  .component-header {
    &__nav {
      display: initial;
    }
  }

  .footer {
    display: none;
  }

  .component-posts {
    display: grid;
    gap: 0.1rem;
    margin: 0.1rem;
    grid-template-columns: repeat(auto-fill, minmax(365px, 1fr));
    grid-auto-flow: dense;
  }
  .component-tabs__tab span:nth-child(2) {
    display: initial;
  }
}

@media (min-width: $breakpoint-laptop) {
  .component-post {
    &__module {
      &:nth-child(4) {
      }
    }

    &__item {
      font-size: $font-size;
    }

    .material-icons-round {
      font-size: $font-size-02;
    }
  }
  .material-icons-round.component-favorite {
    font-size: 1.7rem;
  }
}

@media (min-width: $breakpoint-big-desktop) {
  .header {
    grid-column: col-start 3 / span 8;
  }
  .section {
    grid-column: col-start 3 / span 8;
  }
  .home {
    grid-column: col-start 3 / span 8;
  }
  .details-post {
    grid-column: col-start 3 / span 8;
  }
  .add_post {
    grid-column: col-start 3 / span 8;
  }
  .message {
    grid-column: col-start 3 / span 8;
  }
  .component-posts {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  }
}
