// Colors
$color-01: #f72585;
$color-02: #b5179e;
$color-03: #7209b7;
$color-04: #560bad;
$color-05: #480ca8;
$color-06: #3a0ca3;
$color-07: #3f37c9;
$color-08: #4361ee;
$color-09: #4895ef;
$color-10: #4cc9f0;
$color-11: #ffee00;

// font-family
$font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

// Font Color
$font-color: #333333;
$font-color-emphasis: #8899a6;

// Font Size
$font-size: 1rem;
$font-size-01: 1.1rem;
$font-size-02: 1.2rem;
$font-size-small: 0.875rem;
// Background Color
$background-opacity-01: rgba(255, 255, 255, 0.1);
$background-opacity-05: rgba(255, 255, 255, 0.5);
$background-opacity-09: rgba(255, 255, 255, 0.9);
$background-white: #fff;

// Box-Shadow
$box-shadow-05: 0 3px 6px rgba(0, 0, 0, 0.1);
$box-shadow-10: 0 1px 3px rgba(0, 0, 0, 0.1);
$box-shadow-20: 0 0 20px rgba(0, 0, 0, 0.1);
$box-shadow-40: 0 0 40px rgba(0, 0, 0, 0.1);

// Material Box-Shadow
$box-shadow-material-01: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$box-shadow-material-02: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$box-shadow-material-03: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$box-shadow-material-04: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$box-shadow-material-05: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

//Box Shadow TOP
$box-shadow-card: 0 1px 3px rgba(0, 0, 0, 0.1), 0 -1px 3px rgba(0, 0, 0, 0.1);

// Blur
$blur-25: blur(25px);
$blur-50: blur(50px);

// Gradients
$gradient: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

// BreakPoint
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-big-desktop: 1281px;
