@import '../utilities/variables';

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

}

.wrapper>* {

    grid-column: col-start / span 12;

}
