.container-details {
}

.component-details {
  flex-direction: column;
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}

.component-details__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  overflow-wrap: break-word;
  padding: 0.5rem;
}

.component-details__module {
  display: flex;
  flex: 0 1 10rem;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  background-color: #f0f0f0;
  box-shadow: $box-shadow-card;
}

.component-details__item {
  display: inline-flex;
  align-items: center;
  font-size: 0.875rem;
  letter-spacing: 0.09rem;
}

/* rating */
.component-details__module:last-child span {
  display: inline-flex;
  align-items: center;
  font-size: 0.875rem;
  letter-spacing: 0.09rem;
}

.component-details-img {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  overflow-x: scroll;
  padding-top: 0.5rem;
  scroll-snap-type: x mandatory;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.component-details-img__item {
  height: auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  flex: 0 1 max(25rem);
  max-width: 100%;
  vertical-align: middle;
  object-fit: cover;
  object-position: center;
  filter: drop-shadow(0px 0px 1rem var(--background-opacity-01))
    drop-shadow(0px 0px 1rem var(--background-opacity-05));
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.component-ubicacion {
  display: flex;
  padding: 1rem;
  margin: 0.5rem;
  flex-direction: column;
}

.component-ubicacion__item {
  display: flex;
  flex: 0 1 10rem;
  border-radius: 0.2rem;
  height: 10rem;
  background-color: #f0f0f0;
  box-shadow: $box-shadow-card;
}
