.component-favorite {
  position: absolute;
  bottom: 0;
  right: 0;
}

.material-icons-round.component-favorite {
  font-size: 1.5rem;
  color: #dfdfdf;
  text-shadow: $box-shadow-card;
}

.material-icons-round.component-favorite--active {
  font-size: 1.5rem;
  color: $color-01;
}

.component-close {
  position: absolute;
  top: 0;
  right: 0;
}
.material-icons-round.component-close {
  font-size: 1.5rem;
  color: red;
}
