.component-filter {
  display: flex;
  position: relative;
  &__button {
    border: none;
    display: flex;
    margin: 0;
    padding: 0.5rem;
  }
  input[type='checkbox'] {
    display: none;
  }
  nav {
    position: absolute;
    margin-top: 2.5rem;
    right: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(40px);
    border-radius: 0.2rem;
    display: none;
    z-index: 5;
    ul {
      list-style: none;
      margin: 0;
      padding: 1rem 3rem 1rem 0.5rem;
      li {
        margin: 0.5rem;
      }
    }
  }
  input[type='checkbox']:checked ~ nav {
    display: block;
  }
  input[type='checkbox']:checked + label {
    background-color: #f7f7f7;
    color: $color-03;
    backdrop-filter: blur(25px);
  }
}
