@import '../utilities/variables';

.component-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    padding: 1rem 0;
  }

  &__item {
    font-size: $font-size-02;
    letter-spacing: 0.2rem;
    margin-left: 0.5rem;
  }

  &__link {
    margin: 0;
    padding: 1rem 0.5rem;
    font-size: $font-size-small;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    overflow-wrap: break-word;

    &:link {
      color: inherit;
    }

    &:visited {
      color: inherit;
    }

    &:hover {
      color: inherit;
    }

    &:active {
      color: inherit;
    }
  }

  .material-icons-round {
    font-size: 1.4rem;
  }

  &__nav {
    display: none;
  }
}
