@import '../utilities/variables';
//@import '../utilities/dev';

.component-nav {
  box-shadow: $box-shadow-material-02;
  //background-color: #f5f5f5;
  backdrop-filter: $blur-25;
  display: flex;
  flex: 1 1 auto;
  margin: 0;
  padding: 0;
}

.component-menu {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  list-style: none;
  margin: 0;
  padding: 0;

  &__module {
    display: flex;
    flex: 0 1 6rem;
  }

  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    height: auto;
    padding: 1rem;
    text-decoration: none;
    text-shadow: $box-shadow-card;

    &:link {
      color: inherit;
    }

    &:visited {
      color: inherit;
    }

    &:hover {
      color: inherit;
    }

    &:active {
      color: inherit;
    }
  }

  &__item {
    letter-spacing: 0.06rem;

    &--active {
      color: $color-03;
      text-shadow: $box-shadow-05;
    }

    &:nth-child(2) {
      display: none;
    }
  }

  .material-icons-round {
    font-size: 1.4rem;
  }
}
