@import '../utilities/variables';

.component-posts {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: column;

  &__item {
    display: flex;
    flex: 1 0 auto;
  }
}

.component-post {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
  padding: 0.5rem;
  margin: 0.2rem;
  box-shadow: $box-shadow-card;
  background-color: #fefefe;
  border-radius: 0.2rem;

  &__content {
    display: flex;
    position: relative;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: baseline;
    overflow-wrap: break-word;
    padding-left: 0.5rem;
  }

  &__module {
    display: flex;
    flex: 1 1 auto;
    align-items: center;

    &:nth-child(4) {
      background-color: $color-09;
      color: #fdfdfd;
      border-radius: 0.2rem;
      font-size: $font-size-small;
      letter-spacing: 0.09rem;
      padding: 0 1rem;
      text-transform: capitalize;
      align-self: flex-start;
      box-shadow: $box-shadow-card;
      background-image: linear-gradient(to right, $color-09 0, $color-10 100%);
      transition: 0.5;
      &:hover {
        background-position: right center;
        background-color: red;
      }
    }

    &:nth-child(5) span {
      letter-spacing: 0.09rem;
    }
  }

  &__item {
    font-size: $font-size-small;
    letter-spacing: 0.1rem;
  }

  .material-icons-round {
    font-size: 1rem;
  }
}

.component-img {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    height: auto;
    flex: 1 1 auto;
    vertical-align: middle;
    object-fit: cover;
    object-position: center;
    //filter: drop-shadow($box-shadow-40);
    //transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  }
}
