.container-search {
  display: flex;
  position: relative;
  justify-content: center;
}

.component-search {
  display: flex;
  flex: 0 1 max(45rem);
  box-shadow: $box-shadow-card;
  border-radius: 0.2rem;
  margin: 0.5rem;
  align-self: center;
  &__item {
    display: flex;
    flex: 1 1 auto;
  }
  &__button {
    display: flex;
    margin: 0;
    padding: 0.5rem;
    border: none;
    backdrop-filter: blur(25px);
    background-color: var(--background-opacity-09);
  }
  &__input {
    backdrop-filter: blur(25px);
    background-color: var(--background-opacity-09);
    flex: 1 1 auto;
    letter-spacing: 0.1rem;
    border: none;
    color: var(--font-color);
    outline: none;
    &::-webkit-search-cancel-button {
      opacity: 0.6;
      filter: saturate(300%);
      font-size: 1.3rem;
    }
    &::placeholder {
      font-size: $font-size-small;
    }
  }
}
