.component_welcome {
    display: flex;
    height: 15rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    background: paint(extra-confetti);
    animation: confetti 1s linear;

    img {
        height: auto;
        max-width: 100%;
        object-fit: contain;
        object-position: bottom;
        scroll-snap-align: center;
        padding: 1rem;
    }

}

@keyframes confetti {
    from {
        --extra-confettiNumber: 380;
        --extra-confettiLengthVariance: 200;
        --extra-confettiWeightVariance: 50;
    }

}
