.add_post {
  grid-row: 2;
  padding: 0 0.5rem;
  justify-content: center;
  align-items: flex-start;
  display: grid;
}
input[type='file'] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
label[for='img'] {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: #106ba0;
  display: inline-block;
  transition: all 0.5s;
  cursor: pointer;
  padding: 15px 40px !important;
  text-transform: uppercase;
  width: fit-content;
  text-align: center;
}

textarea {
  border: 1px solid#ccc;
  font-family: sans-serif;
  font-size: 22px;
  /* fallback */
  font-size: var(--small-mobile-font-size);
  height: 5.5em;
  line-height: 1.4em;
  padding: 12px;
  width: 90%;
  /* fallback */
  width: calc(100% - 30px);
  /* full width minus padding */
}
