.component-chat__header {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  overflow: hidden;
  padding: 1rem;
  box-shadow: $box-shadow-card;
  position: relative;
}

.component-chat__username {
  display: flex;
  font-size: 1.2rem;
  flex: 1 1 auto;
  padding: 0 0 0 1rem;
  border: none;
}

.component-chat__avatar {
  display: flex;
  margin: 0;
  padding: 0;
}

.component-chat__avatar img {
  flex: 0 1 max(4rem);
  border-radius: 50%;
  width: auto;
  height: 4rem;
}

.component-chat__header > .component-close {
  padding: 0.5rem;
}
