.active {
  border-left: 0.5rem solid greenyellow;
}

.error {
  border-left: 0.5rem solid red;
}

.component-notification {
  padding: 0.5rem;
}

.component-notification__container {
  overflow: hidden;
  min-height: 6rem;
  max-height: 8rem;
  border-radius: 0.2rem;
  padding: 1rem;
  box-shadow: $box-shadow-card;
  position: relative;
}

.component-notification__header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  font-size: 12px;
  text-transform: uppercase;
}
.component-notification__header > .component-close {
  padding: 0.5rem;
}

.component-notification__time {
  text-transform: lowercase;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
}

.component-notification__message {
  line-height: 1.4;
}

.component-notification__title {
  font-weight: 600;
}

.component-notification__text {
}
