.message {
  grid-row: 2;
  display: flex;
  flex-direction: column;
}

/*-------------------- Chat --------------------*/
.component-chat {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: hidden;
}

.component-chat__header {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  backdrop-filter: (--blur-50);
  background: var(--background-opacity-09);
}

.component-chat__username {
  display: flex;
  font-weight: normal;
  font-size: 1.1rem;
  flex: 1 1 auto;
  padding-left: 1rem;
}

.component-chat__avatar {
  display: flex;
  margin: 0;
  padding: 0;
}

.component-chat__avatar img {
  flex: 0 1 max(4rem);
  border-radius: 50%;
  width: auto;
  height: 4rem;
}

.component-message {
  flex: 1 1 auto;
  overflow: scroll;
  position: relative;
  width: 100%;
}

.component-message__content {
  backdrop-filter: (--blur-50);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.component-message__item {
  clear: both;
  float: left;
  padding: 0.5rem 1rem 0.5rem;
  border-radius: 0 0 0 1rem;
  backdrop-filter: (--blur-50);
  background: $color-10;
  margin: 1rem 1rem;
  font-size: 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: $box-shadow-card;
  position: relative;
}

.component-message__item:last-child {
  margin-bottom: 2rem;
}

.component-message__item--personal {
  float: right;
  text-align: right;
  background-color: $color-11;
  border-radius: 0 0 1rem 0;
}

.component-message__item--new {
}

.component-message__box {
  flex: 0 1 3rem;
  background: var(--background-opacity-09);
  display: flex;
}

.component-message__input {
  flex: 1 1 auto;
  border: none;
  outline: none;
  resize: none;
  background: var(--background-opacity-01);
  font-size: 1rem;
  margin: 0;
  padding: 0.5rem;
}

.component-message__submit {
  border: none;
  background: $color-01;
  color: $background-white;
  font-size: 0.875rem;
  text-transform: uppercase;
  line-height: 1;
  padding: 0.5rem 1rem;
  outline: none;
  transition: background 1s ease;
}
