.component-biography {
}

.component-header-profile {
  background-image: url(https://i.pinimg.com/originals/3c/5b/f8/3c5bf826c2b466e1c871c3fdb8a6f86e.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 7rem;
  display: flex;
  align-items: center;
  padding: 5rem 1rem 0rem 1rem;
}

.component-header__container {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
  height: auto;
  position: relative;
  top: 2.5rem;
}

.component-header__profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1 0 auto;
}

.component-header__user {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.component-header__img {
  border-radius: 50%;
  height: 75px;
  max-width: 100%;
  display: block;
  object-fit: contain;
  object-position: center;
  border: 2px solid var(--background-opacity-09);
  box-shadow: $box-shadow-card;
  filter: drop-shadow($box-shadow-card);
}

.component-biography__name {
  padding: 0.5rem;
  text-transform: capitalize;
}

.component-edit-profile {
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-end;
}

.component-edit-profile__button {
  padding: 0.4rem;
  border-radius: 0.5rem;
  box-shadow: $box-shadow-card;
}

.component-biography__info {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.component-biography__item {
  margin: 0;
  padding: 0rem 1rem;
  text-align: left;
}

.component-biography__item--emphasis {
  padding: 0.3rem 1rem;
  text-align: left;
  color: $font-color-emphasis;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.component-biography__item--emphasis span {
  letter-spacing: 0.3rem;
  font-size: inherit;
}

.component-tabs {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 2rem;
  box-shadow: $box-shadow-card;
  z-index: 10;
  overflow-x: scroll;
}

.component-tabs__tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
  padding: 0.3rem;
  background-color: var(--background-opacity-01);
  backdrop-filter: var(--blur-50);
  border-bottom: 2px solid transparent;
}

.component-tabs__tab:hover {
  border-bottom: 2px solid rgba(102, 177, 241, 0.8);
  transition: all 0.5s ease;
}

.component-tabs__tab span:nth-child(1) {
  font-size: 1.5rem;
  color: rgb(70, 70, 70);
  font-weight: 300;
}

.component-tabs__tab span:nth-child(2) {
  display: none;
}

.rating-user {
  display: flex;
  justify-content: flex-end;
}
.rating-user .rating__icon--star {
  font-size: 1.5rem;
}
